body{
    background: rgb(200, 201, 206); 
}

p,a,ul,ol{
    font-family: 'Merriweather Sans', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Ostrich', sans-serif;
}

.strongtitle {
    font-family: 'Ostrich Black', sans-serif;
}

.tile{
    margin-top: 30px;
    background: white;
    padding: 20px;
}

.img{
    margin-top: 10px;
    margin-bottom: 10px;
    }

.innercolumn{
    padding: 20px;
}

#date {
    color: gray;
}

@font-face {
  font-family: "Ostrich";
  src: url("../type/ostrich-regular-webfont.eot");
  src: local("☺"),
    url("../type/ostrich-regular-webfont.woff") format("woff"),
    url("../type/ostrich-regular-webfont.otf") format("opentype"),
    url("../type/ostrich-regular-webfont.svg#ostrich-regular-webfont") format("svg");
  }

@font-face {
  font-family: "Ostrich Black";
  src: url("../type/ostrich-black-webfont.eot");
  src: local("☺"),
    url("../type/ostrich-black-webfont.woff") format("woff"),
    url("../type/ostrich-black-webfont.otf") format("opentype"),
    url("../type/ostrich-black-webfont.svg#ostrich-black-webfont") format("svg");
  }
