IMG.banner-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
} 

IMG.us-image {
    display:block;
    width: 330px;
    margin-top: 20px;
    float: left
}

IMG.us-image-small {
    margin-top: 30px;
    margin-bottom: 20px;
}

#date {
    color: gray;
}

#nav-links {
    margin-top: 25px;
}

a.inactive {
    color: #CCCCCC;
}

#main-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.detailtext {
    margin-top: 30px;
    padding-right: 60px;
    float: right;
}

.introtext {
    margin-top: 20px;
}

p.names {
    font-size: 18px;
    font-weight: bold;
}
